/* Global CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== SIDEBAR MENU ==================== */
/* SIDEBAR */
/* Sidebar animation smooth slide */
#sidebar {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}





/* SIDEBAR SCROLLBAR */
/* Base: scrollbar hidden */
.hover-scroll::-webkit-scrollbar {
  width: 0; /* completely hidden */
}

/* On hover: show scrollbar */
/* width, dli mugana, bolocc */
.hover-scroll:hover::-webkit-scrollbar {
  width: 8px; 
}

.hover-scroll::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
}

.hover-scroll::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind gray-600 */
  border-radius: 9999px;
  border: 2px solid #1f2937;
}

.hover-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Tailwind gray-500 */
}

.hover-scroll:hover {
  scrollbar-width: thin; /* appears on hover */
  scrollbar-color: #e9f2ff #2563EB; /* thumb track */
}

/* Firefox */
.hover-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent #2563EB; /* thumb transparent */
  transition: scrollbar-color 0.2s ease;
}





/* ==================== TABLES ==================== */
/* TABLE SCROLLBAR */
/* For Webkit browsers: Chrome, Edge, Safari */
.table-pretty-scrollbar::-webkit-scrollbar {
    height: 8px; /* horizontal scrollbar height */
}

.table-pretty-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9; /* track color (light gray) */
    border-radius: 4px;
}

.table-pretty-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* Tailwind blue-500 */
    border-radius: 4px;
    border: 2px solid #f1f5f9; /* optional padding around thumb */
}

/* Firefox */
.table-pretty-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #6da4fc #f1f5f9;
}
